@using MudBlazor
@using Pet.Jira.Web.Common

<tr class="pet-table-summary-tr">
    <td>
        <MudPaper Class="gap-1 d-flex flex-wrap border-none align-center pet-paper" Elevation="0" Width="100%">
            <MudElement Class="flex-none d-flex gap-2 py-2 align-center">
                <WorklogDayMenu Entity=@Entity OnCreatedPressed="AddWorklogAsync" />
                <MudElement Style="width: 102px">
                    <MudProgressLinear Color="Color.Success" Size="Size.Small" Value="@Entity.Progress" />
                </MudElement>

                @if (Entity.HasRawEstimatedWorklogs)
                {
                    <MudBadge Content="Entity.RawEstimatedWorklogCount" Color="Color.Info" Overlap="true">
                        <WorklogDayChip Value="@Entity.Date.ToString(DateFormats.DateFormat)" />
                    </MudBadge>
                }
                else
                {
                    <WorklogDayChip Value="@Entity.Date.ToString(DateFormats.DateFormat)" />
                }
            </MudElement>
            <MudElement Class="flex-none d-flex gap-1 pet-worklog-day-chips-container pl-3">
                <WorklogDayChip Caption="Logged" Value="@Entity.ActualWorklogTimeSpent.ToString(DateFormats.TimeFormat)" />
                <WorklogDayChip Caption="Estimated" Value="@Entity.WorklogTimeSpent.ToString(DateFormats.TimeFormat)" />
                <WorklogDayChip Value="@Entity.Date.DayOfWeek.ToString()" Color="@Color" />
            </MudElement>
        </MudPaper>
    </td>
</tr>

@* All rows unified and sorted by time *@
@foreach (var row in _dayRows)
{
    <tr>
        <td>
            @if (row.EstimatedWorklog is not null)
            {
                <WorklogItem Entity="@row.EstimatedWorklog" OnAddPressed="AddWorklogAsync" />
                @foreach (var child in row.EstimatedWorklog.Children)
                {
                    <EstimatedActualWorklogItem Entity="@child" />
                }
            }
            else if (row.Worklog is not null)
            {
                <ActualWorklogItem Entity="@row.Worklog" />
            }
            else if (row.BlockedEvent is not null)
            {
                var blockedLogged = Entity.IsCalendarEventLogged(row.BlockedEvent);
                <MudElement Class="gap-2 d-flex flex-wrap border-none align-center"
                            Style="@(blockedLogged ? "opacity:0.45" : "opacity:0.7")">
                    <MudElement Style="width:28px" />
                    <WorklogTimeRange StartDate="@row.BlockedEvent.Start"
                                      CompleteDate="@row.BlockedEvent.End"
                                      Color="Color.Default" />
                    <MudIcon Icon="@Icons.Material.Filled.EventBusy"
                             Color="Color.Default"
                             Size="Size.Small"
                             Class="ml-1" />
                    <MudText Typo="Typo.body2"
                             Style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;flex:1;min-width:0">
                        @row.BlockedEvent.Title
                    </MudText>
                    @if (blockedLogged)
                    {
                        <MudIconButton Size="Size.Small"
                                       Icon="@Icons.Material.Filled.Check"
                                       Color="Color.Default"
                                       Disabled="true" />
                    }
                    else
                    {
                        <MudTooltip Text="Залогировать">
                            <MudIconButton Size="Size.Small"
                                           Icon="@Icons.Material.Filled.Add"
                                           Color="Color.Success"
                                           OnClick="@(() => OpenBlockedEventDialog(row.BlockedEvent))" />
                        </MudTooltip>
                    }
                </MudElement>
            }
        </td>
    </tr>
}

@code {

}
