@using Pet.Jira.Web.Common;

<style>
</style>

<tr class="pet-table-summary-tr">
    <td>
        <MudPaper Class="gap-1 d-flex flex-wrap border-none align-center pet-paper" Elevation="0" Width="100%">
            <MudElement Class="flex-none d-flex gap-2 py-2 align-center">
                <WorklogDayMenu Entity=@Entity OnCreatedPressed="AddWorklogAsync" />
                <MudElement Style="width: 102px">
                    <MudProgressLinear Color="Color.Success" Size="Size.Small" Value="@Entity.Progress" />
                </MudElement>
                
                @if (Entity.HasRawEstimatedWorklogs)
                {
                    <MudBadge Content="Entity.RawEstimatedWorklogCount" Color="Color.Info" Overlap="true">
                        <WorklogDayChip Value="@Entity.Date.ToString(DateFormats.DateFormat)"/>
                    </MudBadge>
                }
                else
                {
                    <WorklogDayChip Value="@Entity.Date.ToString(DateFormats.DateFormat)" />
                }
            </MudElement>
            <MudElement Class="flex-none d-flex gap-1 pet-worklog-day-chips-container pl-3">
                <WorklogDayChip Caption="Logged" Value="@Entity.ActualWorklogTimeSpent.ToString(DateFormats.TimeFormat)" />
                <WorklogDayChip Caption="Estimated" Value="@Entity.WorklogTimeSpent.ToString(DateFormats.TimeFormat)" />
                <WorklogDayChip Value="@Entity.Date.DayOfWeek.ToString()" Color="@Color" />
            </MudElement>
        </MudPaper>
    </td>
</tr>
@foreach (var entity in Entity.EstimatedWorklogs)
{
    <tr>
        <td>
            <WorklogItem Entity="@entity" OnAddPressed="AddWorklogAsync" />
        </td>
    </tr>
    @foreach (var child in entity.Children)
    {
        <tr>
            <td>
                <EstimatedActualWorklogItem Entity="@child" />
            </td>
        </tr>
    }
}
@foreach (var entity in Entity.ActualWorklogs.Where(item => item.Parent == null))
{
    <tr>
        <td>
            <ActualWorklogItem Entity="@entity" />
        </td>
    </tr>
}

@code {

}
