@using Pet.Jira.Web.Common;

<style>
</style>

<tr class="pet-table-summary-tr">
    <td>
        <MudPaper Class="gap-1 d-flex flex-wrap border-none align-center pet-paper" Elevation="0" Width="100%">
            <MudElement Class="flex-none d-flex gap-4 py-2 align-center" Style="width: 196px">
                <MudElement Style="width: 128px">
                    <MudProgressLinear Color="Color.Success" Size="Size.Small" Value="@Entity.Progress" />
                </MudElement>
                <MudElement Class="align-center" Style="width: 128px">
                    <b>@Entity.Date.ToString(DateFormats.DateFormat)</b>
                </MudElement>
            </MudElement>
            <MudElement Class="flex-none d-flex gap-1 pet-worklog-day-chips-container">
                <WorklogDayChip Caption="Logged" Value="@Entity.ActualWorklogsSum.ToString(DateFormats.TimeFormat)" />
                <WorklogDayChip Caption="Estimated" Value="@Entity.CalculatedWorklogsSum.ToString(DateFormats.TimeFormat)" />
                <WorklogDayChip Caption="Day" Value="@Entity.Date.DayOfWeek.ToString()" Color="@Color" />
                @if (Entity.HasRawEstimatedWorklogs)
                {
                    <MudBadge Content="Entity.RawEstimatedWorklogCount" Color="Color.Info" Overlap="true" Class="pet-table-mud-badge-counter">
                        <MudIcon Icon="@Icons.Sharp.AddCircle" Color="Color.Primary" />
                    </MudBadge>
                }
            </MudElement>
        </MudPaper>
    </td>
</tr>
@foreach (var entity in Entity.EstimatedItems)
{
    <tr>
        <td>
            <WorklogItem Entity="@entity" OnAddPressed="AddWorklogAsync" />
        </td>
    </tr>
    @foreach (var child in entity.ChildItems)
    {
        <tr>
            <td>
                <EstimatedActualWorklogItem Entity="@child" />
            </td>
        </tr>
    }
}
@foreach (var entity in Entity.ActualItems.Where(item => item.ParentItem == null))
{
    <tr>
        <td>
            <ActualWorklogItem Entity="@entity" />
        </td>
    </tr>
}

@code {

}
