@page "/issues"

<MudGrid Spacing="1" Justify="Justify.FlexStart">
    <MudItem xs="2">
        <MudDateRangePicker Label="Date range" @bind-DateRange="issueQuery.DateRange" />
        <MudTextField Label="Count" @bind-Value="issueQuery.Count" For="@(() => issueQuery.Count)" InputType="InputType.Number" />
        <MudButton OnClick="Search" Variant="Variant.Filled" Color="Color.Primary" EndIcon="@Icons.Material.Filled.Send" Class="mt-2">Search</MudButton>

    </MudItem>
    <MudDivider Vertical="true" FlexItem="true" />
    <MudItem xs="9" Style="flex-basis: 83% !important; max-width: 83% !important">
        @if (pageModel.InProgress)
        {
            <MudOverlay Visible="@pageModel.InProgress" DarkBackground="true" Absolute="true">
                <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
            </MudOverlay>
        }

        @if (pageModel.DayUserWorklogs == null || !pageModel.DayUserWorklogs.Any())
        {
            <img src="images/data_not_found.png" class="pet-center" />
        }
        else
        {
            <MudSimpleTable Dense=true Hover=true Style="overflow-x: auto;"> 
                <thead> 
                    <tr>
                        <th style="min-width: 40px">From</th>
                        <th style="min-width: 40px">To</th>
                        <th>Issue</th>
                        <th>Diff</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in pageModel.DayUserWorklogs)
                    {
                        <tr>
                            <td colspan="5">
                                @item.Date.ToShortDateString() (@item.Date.DayOfWeek) - @item.CalculatedWorklogsSum (logged: @item.ActualWorklogsSum.ToString(@"hh\:mm\:ss"))
                            </td>
                        </tr>
                        @foreach (var entity in item.EstimatedWorklogs)
                        {
                            <tr>
                                <td>@entity.StartedAt.ToString("HH:mm")</td>
                                <td>@entity.CompletedAt.ToString("HH:mm")</td>
                                <td><MudLink Href="@entity.Issue.Link" Typo="Typo.body2">@entity.Issue.Key</MudLink> @entity.Issue.Summary</td>
                                <td><MudTextField @bind-Value="@entity.RestTime" Variant="Variant.Text" IconSize="Size.Small"></MudTextField></td>
                                <td>
                                    <MudFab Size="Size.Small" Icon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="@(() => AddWorklog(entity))" Disabled="@entity.Disabled"></MudFab>
                                </td>
                            </tr>
                        }
                        @foreach (var entity in item.ActualWorklogs)
                        {
                            <tr>
                                <td>@entity.StartedAt.ToString("HH:mm")</td>
                                <td></td>
                                <td><MudLink Href="@entity.Issue.Link" Typo="Typo.body2">@entity.Issue.Key</MudLink> @entity.Issue.Summary</td>
                                <td>@entity.ElapsedTime</td>
                                <td><MudAvatar Color="Color.Tertiary">A</MudAvatar></td>
                            </tr>
                        }
                    }
                </tbody>
            </MudSimpleTable>
        }
    </MudItem>
</MudGrid>

@functions {

}
